        body{background-color:#f4f4f4;}
		.content-card{
		    width:100%;
			background-color:#fff;
			border-radius: 6px;
			margin-top:20px;
		}
		hr{border: 1px dashed #ccc}

  /*Í¼Æ¬ÑùÊ½*/
   h5{text-align:center;}
	   .retop{
	   position: absolute;
	   position:fixed;
	   right: 0px;
       bottom: 0px;
	   cursor:hand;
	   }